

 

{% extends "base.html" %}
{% block title %}Ask the Genius{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block nav %}
	{{ super() }}
{% endblock %}

{% block script %}
	{{ super() }}
	<script>
	$(function () {

		$('#content').keyup(function() { 
			var testString = $('#content').val();
			if(testString){
				$.ajax({
					url: "/test",
					type: "GET",
					contentType: "application/json",
					dataType: "json",
					data: { text: $('#content').val() },
					success: function(js) {
						console.log(js)
						if(js.prediction){
							$('#result').empty();
							$('#result').html("<p>Recommendation (0-5): " + js.prediction + ' </p>')
						} else {
							console.log('no prediction returned')
						}
					},
					error: function(response){
						$('#result').html("");
					}
				})
			} else {
				$('#result').empty();
			}
		})
	});
	</script>


{% endblock%}

{% block content %}
<p>
	DeBovis Review to Rating Prediction: </br> API utilizes Charleston Restaurant Reviews. Enter some text and try it out! </br>
</p>
<textarea id="content" value="" style="width:600px;height:200px"/></textarea>
<div id="result" style="width:100px"> </div>

{% endblock%}
