{% extends "base.html" %}
{% block title %}SPARCIQ / SPARC'D{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block nav %}
	{{ super() }}
{% endblock %}
{% block content %}


<script type="text/javascript">
	
	$(function () {

		refreshTable();

	});



	function refreshTable() {
		var params;
		if ( $(location).attr('href').indexOf("extraUsers") == -1 ) {
			params = { "tenant":$("#tenant").val(), "toDate":$("#toDate").val(), "days":$("#days").val() };
		} else {
			params = { "tenant":$("#tenant").val(), "toDate":$("#toDate").val(), "days":$("#days").val(), "extraUsers":"True" };
		}
		$.ajax({
				url: '/sparcd/allDictApi',
				type: "GET",
				contentType: "application/json",
				beforeSend: function (xhr) { xhr.setRequestHeader ("Authorization", "Basic " + encodedString); },
				dataType: "json",
				data: params,
				success: updateTable,
				error: function(response){
					$('#data').html("<p> Data failed to load </p>");
				}
			})
	}

	var updateTable = function(json) {
		var btTh = '</th><th>', btTd = '</td><td>';
		var tableHTML = '<table dir="ltr" class="tablesorter table table-striped table-bordered" id="myTable" summary="purpose/structure for speech output">' +
						"<caption></caption>" +
						'<colgroup width="20%" />' +
						'<colgroup id="colgroup" class="" title="title" span="8" />' +
						'<thead><tr><th>' +
							'Name'						+ btTh + 
							'Betweenness Centrality '	+ btTh +
							'Eigenvector Centrality '	+ btTh +
							'Closeness Centrality  '	+ btTh +
							'In Degree  '				+ btTh +
							'Out Degree  ' +
							'</th> </tr> </thead><tbody>';

		for(var item in json) {
			var user 					= json[item],
				centralityBetweenness 	= (user.centralityBetweenness||0),
				centralityEigenvector 	= (user.centralityEigenvector||0),
				centralityCloseness 	= (user.centralityCloseness||0),
				degreeIn 				= (user.degreeIn||0),
				degreeOut 				= (user.degreeOut||0);
			if( degreeIn + degreeOut > 0 ) {
				tableHTML	+= '<tr><td>' +	user.name				+ btTd +
											centralityBetweenness 	+ btTd +
											centralityEigenvector 	+ btTd +
											centralityCloseness 	+ btTd +
											degreeIn 				+ btTd +
											degreeOut
							+ ' </td></tr>'
			}
		}
		tableHTML += '</tbody></table>';
		$('#data').empty();
		$('#data').append(tableHTML);
		if ( $('#myTable tbody tr').length > 0 ) {
			$('#myTable').tablesorter({sortList: [[3,1], [5,1], [4,1], [0,0]]});
		} else {
			alert('No results to display');
		}
	} // end of updateTable

</script>


<div id="engagedDiv" class="exampleApiDiv">Loading, please wait ...</div>
<p>
<div id="disEngagedDiv" class="exampleApiDiv">Loading, please wait ...</div>
<p>
<div id="allDictDiv" class="exampleApiDiv">Loading, please wait ...</div>
<p>

<p>&nbsp;<p>

<div id="formDiv">
	<form id="form1" class="form1" onsubmit="return false">
		<label for="tenant">Tenant:</label>
		<select id="tenant">
			 <option value="sparc" selected>Sparc</option>
			 <option value="ccsms">Ccsms</option> 
			 <option value="granicus">Granicus</option>
			 <option value="islandrealty">Island Realty</option> 
			 <option value="cfevans">cfevans</option>
		</select><br/>
		<label for="toDate">Choose end date:</label>
		<input id="toDate" class="date-picker" type="text" value="" /><br/>
		<label for="days">Choose number of days in timespan:</label>
		<select id="days" name="days">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="7">7</option>
			<option value="14">14</option>
			<option value="30">30</option>
			<option value="60">60</option>
			<option value="90">90</option>
			<option value="365">365</option>
		</select>
		<br>
		<input type="button" value="Update Table" onclick="refreshTable()" />
		&nbsp;&nbsp;&nbsp;<a href="https://docs.google.com/a/sparcedge.com/document/d/1cK6t97i-fhs2AOmo1IvfjyfvH9m5Lv0PnZ_CBO2IyeE/edit">Notes</a>
	</form>
</div>

<div id="data" class="data">Loading, please wait ...</div>

<p>

{% endblock %}


